.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5rem;
    overflow: hidden;
    align-items: center;
}

.array-container {
    min-height: 300px;
    height: 450px;
    display: flex;
}

.button-wrapper {
    margin-top: 15px;
}

.array-bar {
    width: 4px;
    margin: 0 2px;
    background-color: #738C89;
}

button {
    --b: 3px; /* border thickness */
    --s: .45em; /* size of the corner */
    --color: #2F4858;
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background: conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2 * var(--_p)) calc(100% - var(--b) - 2 * var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:hover, button:focus-visible {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}

button:active {
    background: var(--color);
    color: #fff;
}
  